<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>This is your home</h1>
    <a href="/">Back</a>
    <form action="/process" method="post">
        {% csrf_token %} 
        <p>Name: <input type="text" name="name" /></p>
        <p>Age: <input type="number" name="age" /></p>
        <input type="hidden" name="example" value="this is hidden" />
        <input type="submit" />
    </form>
</body>
</html>